@font-face {
  font-family: Vazir;
  src: url(./font/Vazir.eot), url(./font/Vazir.ttf), url(./font/Vazir.woff),
    url(./font/Vazir.woff2);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 30%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./assets/background.png");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-color: #140330;
  font-family: Vazir;
  font-size: 1.6rem;
  padding: 30px 0;
}

header {
  text-align: center;
  color: white;
  font-size: 2.5rem;
}

/* ------------------------------Restart button */
.btn-container {
  text-align: center;
}

.restart-btn {
  color: white;
  background-color: transparent;
  border-radius: 12px;
  padding: 10px 10px;
  font-weight: bold;
  font-size: 3.6rem;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 30px;
}

.restart-btn:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

/* ------------------------------Score board */
.score-board {
  margin: 8% 0 4%;
  text-align: center;
  color: whitesmoke;
  border: 3px solid gray;
  width: 250px;
  font-size: 6rem;
  padding: 30px 10px;
  position: relative;
}

.badge {
  background: rgb(23, 125, 156);
  font-size: 3rem;
  padding: 10px 10px;
  border-radius: 12px;
}

#user-badge {
  position: absolute;
  left: -25px;
}

#cpu-badge {
  position: absolute;
  right: -30px;
}

/* ------------------------------Player choices */
.choices {
  display: flex;
  justify-content: center;
  margin: 20px 0 25px;
}

.choices .choice {
  cursor: pointer;
  border: 3px solid #0056d6;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.1s ease;
  max-width: 80px;
  height: auto;
}

.choices .choice:nth-child(2) {
  margin: 0 30px;
}

.choices .choice:hover {
  cursor: pointer;
  background: #04aad3;
}

.choice:active {
  transform: scale(0.95);
}

.choices .choice img {
  width: 100%;
}

h2 {
  text-align: center;
  color: white;
  font-size: 2.5rem;
}

/* ------------------------------Media Queries */

@media screen and (max-width: 480px) {
  body {
    padding: 0 15px;
  }
  .title {
    font-size: 4rem;
    margin-bottom: 40px;
  }

  /* --------------Restart button */
  .restart-btn {
    font-size: 3rem;
    margin-top: 20px;
    margin-bottom: 35px;
  }

  .choices .choice {
    max-width: 60px;
    height: auto;
  }

  /* --------------Player choices */
  .choices .choice:nth-child(2) {
    margin: 0 15px;
  }
  h2 {
    font-size: 3.5rem;
  }

  /* --------------Score board */
  .score-board {
    font-size: 5rem;
    width: 180px;
  }
  .badge {
    font-size: 2.5rem;
  }

  #user-badge {
    position: absolute;
    left: -25px;
  }

  #cpu-badge {
    position: absolute;
    right: -40px;
  }

  /* --------------Score board */
  .text-win {
    font-size: 3rem;
  }
  .text-lose {
    font-size: 3rem;
  }
  footer {
    margin-top: 100px;
    color: rgb(1, 170, 182);
  }
}
footer {
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer a {
  margin-left: 5px;
}
footer a:hover {
  color: #ffffff;
  transform: scaleY(1.5);
}
footer a:visited {
  color: whitesmoke;
}
